@import nib

body
  padding-top 60px

.page-container
  margin-top: 40px
  position: relative

.page-loading
  position: absolute
  top: 100px
  margin: auto
  width: 300px

  i
    margin-right: 20px

.view-animate-container
  min-height: 500px
  position:relative;
  overflow-x:hidden

.view-animate.ng-enter, .view-animate.ng-leave
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

.rtl .view-animate.ng-enter
  transform: translate3d(100%, 0, 0);

.rtl .view-animate.ng-enter.ng-enter-active
  transform: translate3d(0, 0, 0);

.rtl .view-animate.ng-leave.ng-leave-active
  transform: translate3d(-100%, 0, 0);

.ltr .view-animate.ng-enter
  transform: translate3d(-100%, 0, 0);

.ltr .view-animate.ng-enter.ng-enter-active
  transform: translate3d(0, 0, 0);

.ltr .view-animate.ng-leave.ng-leave-active
  transform: translate3d(100%, 0, 0);

.masonry-brick
  display: none
  margin-bottom: 10px

.masonry-brick.loaded
  display: block

.artist-grid
  .masonry-brick
    img
      width: 277px

    a.artist
      display: block
      position: relative

    h3
      position: absolute
      bottom: 0px
      width: 100%
      padding: 7px
      font-size: 18px
      margin: 0
      display: block
      background-color: #424242
      opacity: 0.7
      color: #FFF

.similar-artists
  h4
    font-size: 15px
    margin-bottom: 20px

  a:hover
    text-decoration: none

  img
    width: 277px

.animate-expand
  opacity:1;

.animate-expand.ng-hide-add.ng-hide-add-active, .animate-expand.ng-hide-remove.ng-hide-remove-active
  /* the transition is defined in the active class */
  transition:0.4s linear all
  transform: scale(1.1)
  opacity: 1

.animate-expand.ng-hide-add, .animate-expand.ng-hide-remove
  transition:0s linear all
  display:block !important

// .animate-expand.ng-hide
//   opacity:0
