div
  .navbar.navbar-default.navbar-fixed-top(role='navigation', ng-controller="MainCtrl")
    .container
      .navbar-header
        a.navbar-brand(href='#!/') Barnstormer Music

      .collapse.navbar-collapse
        form.navbar-form.navbar-left(role="search")
          .form-group
            input.form-control(type="text", placeholder="Artist, Album, or Song")
            button.btn.btn-default(type="submit") Search

        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") Cart ({{shoppingCart.count}}) <b class="caret"></b>
            ul.dropdown-menu
              li(ng-show="shoppingCart.items.length == 0")
                a(href="#") Cart is empty
              li(ng-repeat="song in shoppingCart")

          //- li
          //-   a(href="#")
          //-     img.avatar(src="#{user.avatar}")
          //- li
          //-   a
          //-     strong #{user.username}
          //- li
          //-   a(href="/login")
          //-     i.fa.fa-sign-out.fa-lg
          //-     Sign-Out

  .container
    .view-animate-container.rtl
      div.view-animate(ng-view)
